<%- include("header") -%>
<div class="box" id="heading"><h1 style="color: purple;"><%= listTitle %></h1></div>
<div class="box">
    
        <%for(var i=0;i<newitems.length;i++){%>
       <div class="item">
        <input type="checkbox"><p><%= newitems[i] %><p></div> 
        <%}%>
        <form action="/" class="item" method="post">
            <input type="text" name="new" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
</div>
<%- include("footer") -%>
 


    

